#ImgStart
{width: 50%;
height: 50%;
margin-left: 20%;
margin-top: 5%;}
p{text-align: center;
color: rgb(41, 146, 41);
font-size: large;}

#btnStart{
  background-color: rgb(41, 146, 41);
  width: 50%;
  margin-left: 20%;
}
