<div class="container m-6 p-4 d-flex flex-row justify-content-center">
  <form action="" [formGroup]="condition" (ngSubmit)="check()">
    <!--binding-->
    <h1>{{ titre }}</h1>
    <div class="mb-3">
      <label for="mail">Mail</label>
      <input type="text" formControlName="mail" />
      <div *ngIf="mail.invalid && mail.touched" class="text-danger">
        <div *ngIf="mail.errors?.['required']">
          <small>Ce champs est obligatoire</small>
        </div>

        <div *ngIf="mail.errors?.['pattern']">
          <small>veuillez respecter le format mail</small>
        </div>
      </div>
    </div>

    <label for="password">Mot de passe</label>
    <input type="password" formControlName="password" />
    <!--controle champs vide -->
    <div *ngIf="password.invalid && password.touched" class="text-danger">
      <div *ngIf="password.errors?.['required']">
        <small>Ce champs est obligatoire</small>
      </div>
      <!--controle de caractère -->
      <div *ngIf="password.errors?.['pattern']">
        <small>
          <p>veuillez respecter le format password</p>
        </small>
      </div>
    </div>

    <div class="BtnS">
      <button type="button ">
        <a [routerLink]="['/home']">Retour</a>
      </button>
      <button type="submit" class="btn btn-primary btn-lg"[disabled]="!condition.valid" >
        Validation
      </button>
    </div>
  </form>
</div>
